extends base.pug

block style
    style
        include  ..\static\style.css
        include ..\static\aboutstyle.css

block content 
    h3 ABOUT 
    section#about
        img(src="../static/about.jpeg", alt="")     
        p This site is developed by Abhishek Nayak 
        
        p This is a website which will help you to find each and every book free of cost after when you signed up with our site you will be given 10 books free of cost and then we will charge some price for our book.
        
