doctype html
html
  head
    title Abhishek Online BOOK HUB 
    block scripts
    block style
  body
     nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact]
            li #[a(href="/services") Services]
            li.kkkk img(src="kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk", alt="")
            form(action="/" id="search")
                input(type="text" placeholder="Search Book")
                a(href='#')
                    i.fa.fa-search(aria-hidden='true') 


  block content
  block foot
  footer#footer
    | Copyright &copy; Abhishek Nayak 2020 | All rights reserved.