extends base.pug

block style
    style
        include ../static/style.css
        include ../static/servicesstyle.css

block content
        h1 Our Services
        section#services
            h2 Reading Books is Fascinating 
            h2 Read books in our best ever website
            h2 We provide More than 10M Books in our website
            h2 Each and every Month We Upload 3000 More And More Books.
            h2 Some books which are writeen by best authors can cost you but many books are free of cost.
            h2 This is a website which will help you to find each and every book free of cost after when you signed up with our site you will be given 10 books free of cost and then we will charge some price for our book.
        
        h2#head General
        section#general
            h2 Service Changes. Google shall have the right to suspend, modify, or discontinue the Service at any time without liability to Google. If Google elects to discontinue the Service, it shall, if permitted by law, provide prior notice to you of the discontinuance in the event that you wish to download purchased Digital Content in your account. Additionally, the copyright holders of Digital Content may update such Digital Content and change digital rights settings for such Digital Content from time to time.Termination. If you fail to comply with any term of the Terms of Service, Google may automatically terminate your rights hereunder, including revoking your access to the Service or Digital Content, without notice to you and without refunding any fees paid by you. Google's failure to enforce any term of the Terms of Service will not constitute a waiver of any of its rights or any terms of the Terms of Service.Amendment. Google may amend the terms of the Terms of Service at its sole discretion by posting the amended terms on its website. Your continued use of the Service after seven days following the date such amended terms are posted will constitute your acceptance of and agreement to be bound by the amended terms.

        h2#head Payment 
        section#payment
            h2 Payment for Digital Content. You agree to pay for all Digital Content you purchase through the Service, and for any additional amounts (including any taxes and late fees, as applicable) as may be accrued by or in connection with your use of the Service. You are responsible for the timely payment of all fees and for providing us with valid account and other details necessary to process payments. You may return Digital Content you purchased from the  Books Digital Content store to Abhishek for a refund if the Service does not perform as stated with respect to that purchased Digital Content, provided Abhishek receives your refund request within 7 days of purchase. Following Abhishek’s provision of a refund to you, you will no longer have the right to access the applicable Digital Content. For Digital Content purchased Abhishek’s distribution partners, the refund policies of such distribution partners shall apply.Right to Change Prices and Availability of Digital Content. Prices and availability of any Digital Content are subject to change at any time.



        